<span 
  class="border-2 border-gray-800 dark:border-yellow-300 dark:text-yellow-300 text-xs font-medium mr-2 px-4 py-2 rounded-full animate-pulse bg-gradient-to-r from-gray-200 to-gray-300 dark:from-gray-700 dark:to-gray-600 text-shadow-md shadow"
  style="box-shadow: 0 2px 4px rgba(0,0,0,0.1);"
>
  <slot />
</span>
