<header class="flex justify-center items-center py-6 mx-auto w-full max-w-screen-xl">
    <nav class="flex flex-row gap-x-10">
        <a href="#home" class="opacity-75 hover:opacity-100">Home</a>
        <a href="#experience" class="opacity-75 hover:opacity-100">Experience</a>
        <a href="#projects" class="opacity-75 hover:opacity-100">Projects</a>
        <a href="#about-me" class="opacity-75 hover:opacity-100">About Me</a>
        <a href="#contact" class="opacity-75 hover:opacity-100">Contact</a>
    </nav>
</header>
