---
// LinkButton.astro
import { COLOR_CLASSES } from "../constants/colors";

const { href, color = 'yellow' } = Astro.props;

function colorClasses(color: string = 'yellow') {
  return COLOR_CLASSES[color] || COLOR_CLASSES.yellow;
}




---

<a
  href={href}
  role="link"
  class={`inline-flex justify-center items-center py-2.5 px-5 ml-14 mt-6 text-xl md:text-lg text-center rounded-lg focus:ring-4 ${colorClasses(color)}`}
>
  <slot />
</a>
